[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggm"]
	path = ggm
	url = https://github.com/cran/ggm
	shallow = true
	registered = true
